.container-l {
    margin-top: 10px;
    height: 70vh;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.container-s {
    background: green;
    padding: 10px;
    width: 60vh;
}

.bg-green {
    background: #4FFE30;
    height: 50vh;
    opacity: 80%;
    position: absolute;
    z-index : 2;
    border-radius : 20px;
}

.task-list {
    list-style-type: none;
}