.container-l {
    margin-top: 10px;
    height: 70vh;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.container-s {
    background: RGBA(79,254,48,0.2);
    border-radius: 10px;
    padding: 10px;
    width: 60vh;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.bg-green {
    background: #4FFE30;
    height: 50vh;
    opacity: 80%;
    position: absolute;
    z-index : 2;
    border-radius : 20px;
    padding: 10px;
}

.task-list {
    list-style-type: none;
}

.bg-white {
    background: white;
    height: 50vh;
    width: 50vh;
    position: absolute;
    top: 170px;
    z-index: 2;
    border-radius: 20px;
    padding: 20px;
    box-shadow: aqua;
    box-shadow: aliceblue;
    cursor: auto;
}

.fas {
    color: green
}

.yellow {
    color: yellow;
}
