<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "taskForce.jpg" %>
    <h3>Task Force</h3>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if signed_in? %>
        <li class="nav-item active">
          <%= link_to "LogOut", destroy_user_session_path, method: :delete, class: "nav-link green" %>
        </li>
      <%else%>
        <li class="nav-item active">
            <%= link_to "LogIn", new_user_session_path, class: "nav-link green" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
