.btn-1 {
    background: #4FFE30;
    background-size: 200% auto;
    padding: 10px 30px;
    border-radius: 50px;
    color: white;
    transition: 0.5s;
    &:hover {
      text-decoration: none;
      color: white;
      background-position: right center;
    }
}

.btn-2 {
  background: white;
  background-size: 200% auto;
  padding: 10px 30px;
  border-radius: 50px;
  color: #4FFE30;
  transition: 0.5s;
  &:hover {
    text-decoration: none;
    color: #4FFE30;
    background-position: right center;
  }
}