.card-task {
    background: white;
    height: 60px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.details {
    width: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

