.bg-hard-green {
    background: RGBA(79,254,48,0.4);
    position: absolute;
    left: 50vh;
    width: 42vh;
    height: 31vh;
    z-index: 2;
    border-radius: 20px;
    padding: 20px;
}

#comment_content {
    width: 100%;
}