.card-task {
    background: white;
    height: 9vh;
    width: 52vh;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: 0.5s;
}

.card-task:hover {
    width: 53vh;
    height: 10vh;
}

.details {
    width: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action {
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

