.navbar-lewagon {
    justify-content: space-between;
    background: white;
    padding: 10px;
  }
  
  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
    justify-content: flex-end;
  }

  .navbar-lewagon .navbar-brand {
    width: 30vh;
    display: flex;
    color: green;
  }
  .navbar-lewagon .navbar-brand img {
    width: 40px;
  }

  .avatar {
    width: 40px;
    border-radius: 50%;
  }
  
  .avatar-large {
    width: 56px;
    border-radius: 50%;
  }
  
  .avatar-bordered {
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }
  
  .avatar-square {
    width: 40px;
    border-radius: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border: white 1px solid;
  }

  