@import "bootstrap";
@import "font-awesome";
@import "font-awesome-sprockets";
@import "components/index";
@import "pages/index";

a {
    text-decoration: none;
}
//FLEX//
.f {
    display: flex;
}

.f-sb {
    justify-content: space-between;
}

.f-c {
    justify-content: center;
}

.a-i-c {
    align-items: center;
}

//CURSOR

.crs {
    cursor: pointer;
}

//COLOR

.white {
    background-color: white;
}

//BOX-SHADOW

.box-none {
    box-shadow: none;
}

//FORM 

label {
    width: 240px;
    display: inline-block;
    margin-bottom: 10px;
}

input {
    border-radius: 10px;
    padding: 5px;
}

//DISPLAY 

.display-inline {
    display: inline-block;
}

//FLOAT

.fl-right {
    float: right;
}

