@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "components/index";
@import "pages/index";

html {
    height: 100vh;
}
a {
    text-decoration: none;
}

//WIDTH

.w-100 {
    width: 100px;
}
//FLEX//
.f {
    display: flex;
}

.f-none {
    display: block;
}

.f-sb {
    justify-content: space-between;
}

.f-c {
    justify-content: center;
}

.a-i-c {
    align-items: center;
}

//CURSOR

.crs {
    cursor: pointer;
}

//COLOR

.white {
    background-color: white;
}

.yellow {
    color: yellow;
}

.red {
    color: red;
}

.green {
    color: green;
}

//BOX-SHADOW

.box-none {
    box-shadow: none;
}

//FORM 

label {
    width: 240px;
    display: inline-block;
    margin-bottom: 10px;
}

input {
    border-radius: 10px;
    padding: 5px;
    // width: 100%;
}

//DISPLAY 

.display-inline {
    display: inline-block;
}

//FLOAT

.fl-right {
    float: right;
}

//MARGIN

.mb-0{
    margin-bottom: 0px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-60{
    margin-bottom: 60px;
}

//POSITION

.p-a {
    position: absolute;
}

.b-10 {
    bottom: 10px;
}

.l-200 {
    left: 17vh;
}

//OPACITY

.op-0 {
    opacity: 0%;
}

.toto {
    display: none;
}

//FONT-SIZE

.fs-35 {
    font-size: 35px;
}